.advantages__container {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.advantages__title {
  max-width: 480px;
  flex-basis: 50%;
  font-weight: 500;
  font-size: 44px;
  line-height: 130%;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages__list {
  flex-basis: 50%;
}

.advantages__item {
  background-image: url('../assets/icons/star.svg');
  background-size: 16px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 32px;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.advantages__item:last-child {
  margin-bottom: 0;
}